@model IEnumerable<WMS_Inventory_API_Client.Models.Content>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-header">Contents</h1>
<br />
<div class="search">
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Search Contents:</label>
        <input type="text" class="form-control" name="SearchString" 
	       value="@ViewData["CurrentFilter"]"/>
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<br />
<form asp-action="Index">
    <input type="submit" value="Back to full list" class="btn btn-primary" />
</form>
</div>

<hr />

<div id="no-more-tables">
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Quantity) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParam"]"> @Html.DisplayNameFor(model => model.Quantity) </a>
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Description) *@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]"> @Html.DisplayNameFor(model => model.Description) </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-title="Quantity">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td data-title="Description">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td data-title="ContainerId">
                @Html.DisplayFor(modelItem => item.ContainerId)
            </td>
            @{
                    TempData["containerid"] = Html.DisplayFor(modelItem => item.ContainerId);
            }
            <td>
                <a style="color: royalblue; cursor: pointer" onClick='location.href="/Container/Details/"+@TempData["containerId"]'><u>Back to Container</u></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<br />
<br />

